<div class="formBox border bg-light p-3">
    <div class="text-center">
        <h1>Zaloguj się</h1>
    </div>
    <div class="pt-2">

        <div class="p-2 d-flex flex-row justify-content-between"><div class="d-flex"><label for="login">Nazwa:</label></div><div class="d-flex"><input type="login" id="login" /></div></div>
        <div class="p-2 d-flex flex-row justify-content-between"><div class="d-flex"><label for="password">Hasło:</label></div><div class="d-flex"><input type="password" id="password" /></div></div>

        <div class="p-2 d-flex flex-row justify-content-between">
            <div class="d-flex"><label for="remember">Zapamietaj:</label><input type="checkbox" id="remember" /></div>
            <div class="d-flex"><input type="submit" /></div>
        </div>

        <div class="p-1 text-center"><span>Nie masz konta? <a href="#">Zarejestruj się</a></span></div>
    </div>
