<nav class="navbar navbar-expand navbar-light bg-light border-bottom">
    <a class="navbar-brand" href="#">BattleZone.com</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link b" href="#">Home</a>
            <a class="nav-item nav-link" href="#">Create Lobby</a>
            <a class="nav-item nav-link" href="#">Find Lobby</a>
            <a class="nav-item nav-link" href="#">Statistics</a>
        </div>
        <div class="ms-auto p-2">
            <a href="#"><i class="bi bi-person-circle s-2 text-dark"></i></a>
        </div>
    </div>
</nav>
